<ion-view>
    <ion-nav-title>Finalizando Agendamento</ion-nav-title>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h2>{{carroFinalizado.nome}}</h2>
                <h3>{{carroFinalizado.preco | finance:true:2}}</h3>
            </div>
            <div class="item item-text-wrap">
                <div class="item item-text-wrap">
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Nome Completo</span>
                            <input type="text" ng-model="pedido.nome">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Endereço</span>
                            <input type="text" ng-model="pedido.endereco">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Email</span>
                            <input type="email" ng-model="pedido.email">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Data</span>
                            <input type="text" ng-focus="abrirPopupCalendario()" ng-model="dataSelecionada | date : 'dd/MM/yyyy hh:mm'">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <a class="button button-positive button-full" ng-click="finalzarPedido()">Realizar o agensamento do Test Drive</a>
    </ion-content>
</ion-view>